*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: solid gray 1px;
  background-color: whitesmoke;
}

.header .title {
  font-size: xx-large;
  font-weight: bold;
}

.header button.toggle-long {
  color: whitesmoke;
  border: solid black 0.5px;
  background-color: darkgray;
}
.header button.toggle-long:hover {
  background-color: rgb(77, 75, 70);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid black 1px;
  padding-bottom: 5px;
  margin-top: 50px;
  width: 40%;
}

.buttonSet {
  display: flex;
  justify-content: center;
}

/* Toggle long timer */
.timerBox[data-long] {
  transform: scale(0);
}
.timerBox[data-long].active {
  transform: scale(1);
}
