.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;

  background-color: white;
  width: 500px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/*==============================================*/
/* Title and 'X' close button */
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 2rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/*==============================================*/
/* Setting options and save button */
.modal-body {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* setting options */
.settings-form {
  display: flex;
}
.settings-input-time {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 15px;
}
.settings-input-time input {
  width: 80px;
  height: 30px;
  font-size: medium;
}

/* save button */
.modal-body button.settings-save {
  background-color: white;
  border: 1px solid #c3c3c3;
  color: #1d1d1d;
  border: 0.1px solid;
  border-radius: 5px;

  width: 100px;
  height: 30px;
  cursor: pointer;
}
.modal-body button.settings-save:hover {
  background-color: rgb(209, 209, 209);
}

/*==============================================*/
/* Overlay when modal window is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: 200ms ease-in-out;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);

  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
